/* all items/body */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    list-style: none;
}

body {
    /* background: transparent url(clouds4.jpg); */
    background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(155,197,255,1) 55%, rgba(58,120,255,1) 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* font */

h1, h2, h3, h4, .Navigation li a, .Font {
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", cursive !important;
    color: #222;
}

/* header */

.Header {

}

.BannerBackground {
    background-image: url(banner.jpg);
    background-repeat: repeat-x;
}

.Banner {
    max-height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
}

.Options {
    align-self: stretch;
    margin-bottom: 60px;
    margin-left: 10px;
    flex: 1;
}

.Login {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
  }
  
    .Login:hover {
    color: #fff;
    }
  
    .Login::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.1s ease;
    }
  
    .Login:hover::before {
    transform: scaleX(1);
    }

.Logo {
    flex: 1;
    text-align: center;
}

.BannerLogo {
    cursor: pointer;
    max-width: 200px;
}

.Alerts {
    flex: 1;
    text-align: center;
}

.BannerButton {
    max-height: 45px;
    font-size: larger;
    font-weight: bolder;
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid #222;
    animation: rainbow-bg 10s linear;
	animation-iteration-count: infinite;
    transition: all 0.3s ease-in-out;
}

.BannerAlertMobile {
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    .BannerAlertMobile {
        visibility: visible;
        position: absolute;
        right: 0;
        margin: 0 auto;
        padding-right: 3px;
    }
    .BannerAlert {
        visibility: hidden;
    }
  }

@media only screen and (max-width: 379px) {
  .BannerAlertMobile {
        visibility: hidden;
  }
}

.BannerButton:hover {
    animation: rainbow-bg 1.5s linear;
    animation-iteration-count: infinite;
    transform: scale(1.1);
}

@keyframes rainbow-bg {
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}

/* navigation */

nav {
    background-color: #68a0ee;
    height: 40px;
    border-top: 2px solid #3373cc;
    border-bottom: 2px solid #3373cc;
}

@media only screen and (max-width: 591px) {
    nav {
        height: 65px;
        padding-bottom: 5px;
    }
  }


.Navigation {
    list-style: none;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 6px 0px;
    
}

.Navigation li {
    display: inline-block;
    padding: 0px 10px;
    font-size: large;
}

.Navigation li a {
    position: relative;
    color: #fff;
    text-decoration: none;
  }
  
  .Navigation li a:hover {
    color: #fff;
  }
  
  .Navigation li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.1s ease;
  }
  
  .Navigation li a:hover::before {
    transform: scaleX(1);
  }

.Navigation li:not(:last-child) {
    border-right: 2px solid #fff;
}

/* body */

.Body{
    overflow: hidden;
}

.Page {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 10px;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
}

.Lottie {
    position: absolute;
    opacity: 0.7;
}

/* member login */

.HomeColumn {
    margin: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MemberLogin {
    border: solid 2px #3373cc;
    max-width: 200px;
}

.LoginTitle h4 {
    margin-inline: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.LoginBox h4 {
    margin-inline: 10px;
    padding-top: 5px;
}

.MemberLogin input.Text {
    margin-inline: 10px;
    margin-top: 5px;
    width: 170px;
    border: dashed 2px #646464;
    font-size: 1em;
}

.MemberLogin input.Text::after {
    border-color: #222;
}

.LoginTitle {
    background-color: #aac5eb;
    border-bottom: solid 2px #3373cc;
}

.LoginBox {
    background-color: #e2e4e7;
}

.LoginButton, .RegisterButton {
    display: block;
    margin: 10px auto;
    margin-bottom: 5px;
    width: 70px;
    padding: 1px;
    font-size: small;
    text-align: center;
    background-color: #fff;
    color: #646464;
    border: solid 2px #646464;
}

.LoginButton:hover, .RegisterButton:hover {
    border-color: #222;
    background-color: #68a0ee;
    color: #fff;
}

.ResetPassword {
    color: #777;
    display: block;
    margin: 0px auto;
    width: 170px;
    padding-bottom: 2px;
    font-size: small;
    text-align: center;
}

.ResetPassword:hover {
    color: #68a0ee;
    text-decoration: underline;
}

@media only screen and (max-width: 586px)  {
    .HomeColumn {
        flex-direction: row;
        width: 796px;
        justify-content: space-evenly;
    }
}

.HomePageImage1 {
    background-image: url(placeholder.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 145px;
    height: 145px;
    margin: 10px;
}

@media only screen and (max-width: 982px) and (min-width: 586px)  {
    .HomePageImage1 {
        margin-top: 50%;
  }
}

/* dybrix at a glance */

.DybrixAtAGlance {
    flex: 1;
    margin: 10px 10px 0 10px;
    width: 796px;
    background-color: #e2e4e7;
    border: solid 2px #3373cc;
}

.DybrixAtAGlance h1 {
    padding: 10px;
}

.DybrixAtAGlance :is(h2,h3,h4,p) {
    padding-left: 10px;
}

.GlanceHeader1 {
    font-size: 1.6em;
}

@media only screen and (max-width: 982px)  {
    .GlanceHeader1 {
        text-align: center;
    }
    .GlanceHeader2 {
        text-align: center;
    }
}

.GlanceContainer {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 982px)  {
    .GlanceContainer {
        flex-direction: column-reverse;
        padding-top: 20px;
    }
}

.HomeVideo {
    margin: 0 auto;
    margin-bottom: 10px;
}

.ThingsToDo {
    max-width: 414px;
    padding: 20px;
}

.ThingsToDo li {
    background-image: url(placeholder.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.Thing1 :is(h3, p) {
    margin-left: 50px;
}

.Thing2 :is(h3, p) {
    margin-left: 50px;
}

.Thing3 :is(h3, p) {
    margin-left: 50px;
}

/* cool games */

.CoolGames {
    display: flex;
    align-items: center;
    margin: 10px 10px 0 10px;
    background-color: #e2e4e7;
    border: solid 2px #3373cc; 
}

@media only screen and (max-width: 982px)  {
    .CoolGames {
        flex-direction: column;
    }
}

.CoolGamesHeader {
    padding-left: 10px;
    padding-right: 10px;
    width: 175px;
}

@media only screen and (max-width: 982px)  {
    .CoolGamesHeader {
        text-align: center;
        width: 350px;
    }
}

.CoolGamesHeader p {
    padding-top: 5px;
}

.CoolGamesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.CoolGame {
    flex: 1;
}

.CoolGame img {
    width: 130px;
}

/* news */

.HomeNews {
    margin: 10px 10px 0 0;
    padding: 10px;
    width: 221px;
    background-color: #e2e4e7;
    border: solid 2px #3373cc;
}

.HomeNews h3 {
    text-align: center;
}

.HomeNews ul {
    padding-top: 10px;
    height: 139px;
}

.HomeNews ul li {
    list-style: inside;
}

/* footer */

.Footer {
    padding: 10px 0;
    bottom: 0;
    text-align: center;
    text-decoration: none;
    color: #777;
}

.Footer a {
    color: #222;
}